/******************************
CSS VARIABLES
******************************/

:root {
    --main-color: rgb(245, 245, 245);
}

/******************************
BODY, LAYOUT
******************************/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    color: var(--main-color);

}

body .bg-img {
    /* fullscreen background image */
    background-image: url('img/trail.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    /* enable absulte positiong within image div */
    position: relative;
}

.top-left {
    display: flex;
    align-items: left;
    /* justify-content: center; */
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bottom-left {
    display: flex;
    align-items: left;
}


/* HACKED THE HECK OUT OF THE TOP -->
  - GONG TO WORK ON JAVASCRIPT NOW
  - LATER WHEN THE JS IS WORKING I WILL MAKE THREE DIVS
     - TOP LEFT DIV WILL BE FLEX LEFT (10VH)
     - CENTER DIV WILL BE FLEX CENTER (80VH)
     - BOTTOM LEFT WILL BE FLEX LEFT (10VH) */


/******************************
LOGO
******************************/

.top-left > p {
    /* margin was showing up on this p tag for some reason (default displayed as block) */
    margin: 0;
}