/******************************
CSS VARIABLES
******************************/

:root {
    --main-color: rgb(245, 245, 245);
}

/******************************
BODY, LAYOUT
******************************/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    color: var(--main-color);

}

body .bg-img {
    background-image: url('img/trail.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    /* so we can position top left/right absolute */
    position: relative;
}